*{
    box-sizing: border-box;
}

.navi .navimenu {
  width: 100%;
  background-color: rgba(44, 42, 39, 0.983);
  list-style-type: none;
  
  /* 마진 패딩 지정하지 않으면 브라우저 기본 스타일을 따라 설정되므로 오버라이딩 필요 */
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
}


.dropdown {
  position: relative;
  transition: all 0.2s ease-in-out;
}

.dropdown-dept1 {
  /*background-color: darkorange; */
  color: white;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-dept2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-dept2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all 0.2s ease-in-out;
}

.dropdown:hover{
    background-color: red;
    transition: all 0.2s ease-in-out;
}

/* dropdown-menu 에는 hover 적용이 안됨 */
.dropdown:hover .dropdown-dept2 {
  display: block;
}

.dropdown-dept2 a:hover {
  background-color: rgb(138, 138, 170);
  transition: all 0.2s ease-in-out;
  
}
