body,
html {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
}


.container {
    width: 500px;
    height: 600px;

    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
    border: 1px solid #AACDFF;
    box-shadow: 3px 3px 3px #0068FF;
}

.content {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

h3 {
    margin-bottom: 20px;
}

.element {
    height: 30px
}

input {
    border: 1px solid #553333;
}