* {
    box-sizing: border-box;
}

.container {
    width: 600px;
    height: 500px;
    padding: 10px;
    background-color: #eeeeee;
    border: 2px solid red;

    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}

.container div {
    background-color: blue;
    margin: 5px;
    color: white;
    width: 200px;
}

.box4 {
    order: 3;
}


.box5 {
    order: 1;
}