* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 104px;
    border: 2px solid red;
    position: relative;

}

.item {
    width: 100px;
    height: 100px;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* animation-name: moveBox;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate; */

    /* 한줄로 함축해서 실행가능 */
    animation: moveBox 2s ease-in-out infinite alternate;
}

span {
    color: white;

}

@keyframes moveBox {
    from {
        border-radius: 0;
        left: 0%;
        background-color: blue;
        transform: scale(1);
    }

    to {
        border-radius: 50%;
        background-color: green;
        left: calc(100% - 100px);
        transform: scale(0.75);
    }
}